form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0;
}

select,
input[type="datetime-local"],
textarea {
    margin-left: 10px;
}

input[type="submit"],
input[type="reset"] {
    margin: 10px;
}